<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{prod.nomeP}}</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <header>
        <h1>{{prod.nomeP}}</h1>
    </header>
    <main>
    <img src="{{prod.urlP}}">
    <p>{{prod.descP}}</p>
    <p><strong>Preço: </strong>{{prod.precoP}} RS</p>
    <p><strong>quantidade: </strong>{{prod.qunati}}</p>
    </main>
    <footer>
        <p>Produto postado em {{prod.data_postagem}}</p>
    </footer>
</body>
</html>