<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>site compras</title>
</head>
<body>
    <header>
        <h1>Site Compras</h1>
    </header>
    <main>
        <h2>Produtos a venda</h2>
        <ul>
            {% for prod in produtos %}
            <li>
                <div class="prod">
                    <p><img src="{{prod.urlP}}" alt="{{prod.nomeP}}"></p>
                    <p>nome: {{prod.nomeP}}</p>
                    <p>quantidade: {{prod.qunati}}</p>
                    <p>descrição: {{prod.descP}}</p>
                    <a href="produto/{{prod.id}}"><span class='butao'>comprar</span></a>
                </div>
            </li>
            {% endfor %}
        </ul>

    </main>
    <footer>
        <strong>criado por @ewerton</strong>
    </footer>
</body>
</html>